<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>Madara_AirHurt_01</key>
    <dict>
      <key>frame</key>
      <string>{{2,3492},{58,83}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{58,83}}</string>
      <key>sourceSize</key>
      <string>{58,83}</string>
    </dict>
    <key>Madara_Hurt_01</key>
    <dict>
      <key>frame</key>
      <string>{{1297,3371},{59,83}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{59,83}}</string>
      <key>sourceSize</key>
      <string>{59,83}</string>
    </dict>
    <key>Madara_Hurt_02</key>
    <dict>
      <key>frame</key>
      <string>{{548,3492},{62,70}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{62,70}}</string>
      <key>sourceSize</key>
      <string>{62,70}</string>
    </dict>
    <key>Madara_Idle_01</key>
    <dict>
      <key>frame</key>
      <string>{{839,3371},{94,84}}</string>
      <key>offset</key>
      <string>{-18.8,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{94,84}}</string>
      <key>sourceSize</key>
      <string>{94,84}</string>
    </dict>
    <key>Madara_Idle_02</key>
    <dict>
      <key>frame</key>
      <string>{{935,3371},{94,84}}</string>
      <key>offset</key>
      <string>{-19.11,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{94,84}}</string>
      <key>sourceSize</key>
      <string>{94,84}</string>
    </dict>
    <key>Madara_Idle_03</key>
    <dict>
      <key>frame</key>
      <string>{{1031,3371},{94,84}}</string>
      <key>offset</key>
      <string>{-19.10,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{94,84}}</string>
      <key>sourceSize</key>
      <string>{94,84}</string>
    </dict>
    <key>Madara_Idle_04</key>
    <dict>
      <key>frame</key>
      <string>{{1127,3371},{94,84}}</string>
      <key>offset</key>
      <string>{-19.11,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{94,84}}</string>
      <key>sourceSize</key>
      <string>{94,84}</string>
    </dict>
    <key>Madara_KnockDown_01</key>
    <dict>
      <key>frame</key>
      <string>{{1223,3371},{72,83}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{72,83}}</string>
      <key>sourceSize</key>
      <string>{72,83}</string>
    </dict>
    <key>Madara_KnockDown_02</key>
    <dict>
      <key>frame</key>
      <string>{{692,3492},{72,55}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{72,55}}</string>
      <key>sourceSize</key>
      <string>{72,55}</string>
    </dict>
    <key>Madara_KnockDown_03</key>
    <dict>
      <key>frame</key>
      <string>{{822,3492},{92,39}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{92,39}}</string>
      <key>sourceSize</key>
      <string>{92,39}</string>
    </dict>
    <key>Madara_KnockDown_04</key>
    <dict>
      <key>frame</key>
      <string>{{766,3492},{54,54}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{54,54}}</string>
      <key>sourceSize</key>
      <string>{54,54}</string>
    </dict>
    <key>Madara_KnockDown_05</key>
    <dict>
      <key>frame</key>
      <string>{{612,3492},{78,62}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{78,62}}</string>
      <key>sourceSize</key>
      <string>{78,62}</string>
    </dict>
    <key>Madara_NAttack_01</key>
    <dict>
      <key>frame</key>
      <string>{{162,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_02</key>
    <dict>
      <key>frame</key>
      <string>{{333,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_03</key>
    <dict>
      <key>frame</key>
      <string>{{504,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_04</key>
    <dict>
      <key>frame</key>
      <string>{{675,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_05</key>
    <dict>
      <key>frame</key>
      <string>{{846,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_07</key>
    <dict>
      <key>frame</key>
      <string>{{1017,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_08</key>
    <dict>
      <key>frame</key>
      <string>{{1188,3233},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_09</key>
    <dict>
      <key>frame</key>
      <string>{{2,3371},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_NAttack_10</key>
    <dict>
      <key>frame</key>
      <string>{{173,3371},{169,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{169,119}}</string>
      <key>sourceSize</key>
      <string>{169,119}</string>
    </dict>
    <key>Madara_Skill01_01</key>
    <dict>
      <key>frame</key>
      <string>{{344,3371},{163,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{163,119}}</string>
      <key>sourceSize</key>
      <string>{163,119}</string>
    </dict>
    <key>Madara_Skill01_02</key>
    <dict>
      <key>frame</key>
      <string>{{509,3371},{163,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{163,119}}</string>
      <key>sourceSize</key>
      <string>{163,119}</string>
    </dict>
    <key>Madara_Skill01_03</key>
    <dict>
      <key>frame</key>
      <string>{{674,3371},{163,119}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{163,119}}</string>
      <key>sourceSize</key>
      <string>{163,119}</string>
    </dict>
    <key>Madara_Skill02_01</key>
    <dict>
      <key>frame</key>
      <string>{{2,2543},{295,182}}</string>
      <key>offset</key>
      <string>{120,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_02</key>
    <dict>
      <key>frame</key>
      <string>{{299,2543},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_03</key>
    <dict>
      <key>frame</key>
      <string>{{596,2543},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_04</key>
    <dict>
      <key>frame</key>
      <string>{{893,2543},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_05</key>
    <dict>
      <key>frame</key>
      <string>{{2,2727},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_06</key>
    <dict>
      <key>frame</key>
      <string>{{299,2727},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_07</key>
    <dict>
      <key>frame</key>
      <string>{{596,2727},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_08</key>
    <dict>
      <key>frame</key>
      <string>{{893,2727},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_09</key>
    <dict>
      <key>frame</key>
      <string>{{2,2911},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_10</key>
    <dict>
      <key>frame</key>
      <string>{{299,2911},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_11</key>
    <dict>
      <key>frame</key>
      <string>{{596,2911},{295,182}}</string>
      <key>offset</key>
      <string>{100,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill02_12</key>
    <dict>
      <key>frame</key>
      <string>{{893,2911},{295,182}}</string>
      <key>offset</key>
      <string>{120,-18}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{295,182}}</string>
      <key>sourceSize</key>
      <string>{295,182}</string>
    </dict>
    <key>Madara_Skill03_01</key>
    <dict>
      <key>frame</key>
      <string>{{2,2},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_02</key>
    <dict>
      <key>frame</key>
      <string>{{690,2},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_03</key>
    <dict>
      <key>frame</key>
      <string>{{2,365},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_04</key>
    <dict>
      <key>frame</key>
      <string>{{690,365},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_05</key>
    <dict>
      <key>frame</key>
      <string>{{2,728},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_06</key>
    <dict>
      <key>frame</key>
      <string>{{690,728},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_07</key>
    <dict>
      <key>frame</key>
      <string>{{2,1091},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_08</key>
    <dict>
      <key>frame</key>
      <string>{{690,1091},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_09</key>
    <dict>
      <key>frame</key>
      <string>{{2,1454},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_10</key>
    <dict>
      <key>frame</key>
      <string>{{690,1454},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_11</key>
    <dict>
      <key>frame</key>
      <string>{{2,1817},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_12</key>
    <dict>
      <key>frame</key>
      <string>{{690,1817},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_13</key>
    <dict>
      <key>frame</key>
      <string>{{2,2180},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill03_14</key>
    <dict>
      <key>frame</key>
      <string>{{690,2180},{686,361}}</string>
      <key>offset</key>
      <string>{122,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{686,361}}</string>
      <key>sourceSize</key>
      <string>{686,361}</string>
    </dict>
    <key>Madara_Skill04_01</key>
    <dict>
      <key>frame</key>
      <string>{{1190,2911},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_02</key>
    <dict>
      <key>frame</key>
      <string>{{2,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_03</key>
    <dict>
      <key>frame</key>
      <string>{{162,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_04</key>
    <dict>
      <key>frame</key>
      <string>{{322,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_05</key>
    <dict>
      <key>frame</key>
      <string>{{482,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_06</key>
    <dict>
      <key>frame</key>
      <string>{{642,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_07</key>
    <dict>
      <key>frame</key>
      <string>{{802,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_08</key>
    <dict>
      <key>frame</key>
      <string>{{962,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_09</key>
    <dict>
      <key>frame</key>
      <string>{{1122,3095},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Skill04_10</key>
    <dict>
      <key>frame</key>
      <string>{{2,3233},{158,136}}</string>
      <key>offset</key>
      <string>{0,-16}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{158,136}}</string>
      <key>sourceSize</key>
      <string>{158,136}</string>
    </dict>
    <key>Madara_Walk_01</key>
    <dict>
      <key>frame</key>
      <string>{{62,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
    <key>Madara_Walk_02</key>
    <dict>
      <key>frame</key>
      <string>{{143,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
    <key>Madara_Walk_03</key>
    <dict>
      <key>frame</key>
      <string>{{224,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
    <key>Madara_Walk_04</key>
    <dict>
      <key>frame</key>
      <string>{{305,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
    <key>Madara_Walk_05</key>
    <dict>
      <key>frame</key>
      <string>{{386,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
    <key>Madara_Walk_06</key>
    <dict>
      <key>frame</key>
      <string>{{467,3492},{79,72}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{79,72}}</string>
      <key>sourceSize</key>
      <string>{79,72}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key>
    <integer>2</integer>
    <key>pixelFormat</key>
    <string>RGBA8888</string>
    <key>premultiplyAlpha</key>
    <false/>
    <key>realTextureFileName</key>
    <string>Madara.png</string>
    <key>size</key>
    <string>{2048,4096}</string>
    <key>smartupdate</key>
    <string>$TexturePacker:SmartUpdate:42aba205000008000000100000000042$</string>
    <key>textureFileName</key>
    <string>Madara.png</string>
  </dict>
</dict>
</plist>