<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>Fire_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{947,3294},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{1173,3294},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{2,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{228,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{454,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_06</key>
    <dict>
      <key>frame</key>
      <string>{{680,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_07</key>
    <dict>
      <key>frame</key>
      <string>{{906,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_08</key>
    <dict>
      <key>frame</key>
      <string>{{1132,3484},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_09</key>
    <dict>
      <key>frame</key>
      <string>{{2,3643},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_10</key>
    <dict>
      <key>frame</key>
      <string>{{228,3643},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>Fire_Move_11</key>
    <dict>
      <key>frame</key>
      <string>{{454,3643},{224,157}}</string>
      <key>offset</key>
      <string>{100,-50}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{224,157}}</string>
      <key>sourceSize</key>
      <string>{224,157}</string>
    </dict>
    <key>FireTomado_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{678,2372},{127,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{127,256}}</string>
      <key>sourceSize</key>
      <string>{127,256}</string>
    </dict>
    <key>FireTomado_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{418,2372},{128,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{128,256}}</string>
      <key>sourceSize</key>
      <string>{128,256}</string>
    </dict>
    <key>FireTomado_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{142,2372},{136,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{136,256}}</string>
      <key>sourceSize</key>
      <string>{136,256}</string>
    </dict>
    <key>FireTomado_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{531,1977},{143,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{143,256}}</string>
      <key>sourceSize</key>
      <string>{143,256}</string>
    </dict>
    <key>FireTomado_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{966,1977},{140,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{140,256}}</string>
      <key>sourceSize</key>
      <string>{140,256}</string>
    </dict>
    <key>FireTomado_Move_06</key>
    <dict>
      <key>frame</key>
      <string>{{1250,1977},{138,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{138,256}}</string>
      <key>sourceSize</key>
      <string>{138,256}</string>
    </dict>
    <key>FireTomado_Move_07</key>
    <dict>
      <key>frame</key>
      <string>{{1108,1977},{140,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{140,256}}</string>
      <key>sourceSize</key>
      <string>{140,256}</string>
    </dict>
    <key>FireTomado_Move_08</key>
    <dict>
      <key>frame</key>
      <string>{{2,2372},{138,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{138,256}}</string>
      <key>sourceSize</key>
      <string>{138,256}</string>
    </dict>
    <key>FireTomado_Move_09</key>
    <dict>
      <key>frame</key>
      <string>{{676,1977},{143,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{143,256}}</string>
      <key>sourceSize</key>
      <string>{143,256}</string>
    </dict>
    <key>FireTomado_Move_11</key>
    <dict>
      <key>frame</key>
      <string>{{548,2372},{128,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{128,256}}</string>
      <key>sourceSize</key>
      <string>{128,256}</string>
    </dict>
    <key>FireTomado_Move_12</key>
    <dict>
      <key>frame</key>
      <string>{{280,2372},{136,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{136,256}}</string>
      <key>sourceSize</key>
      <string>{136,256}</string>
    </dict>
    <key>FireTomado_Move_13</key>
    <dict>
      <key>frame</key>
      <string>{{821,1977},{143,256}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{143,256}}</string>
      <key>sourceSize</key>
      <string>{143,256}</string>
    </dict>
    <key>Madara_Skill05_01</key>
    <dict>
      <key>frame</key>
      <string>{{2,2},{527,393}}</string>
      <key>offset</key>
      <string>{95,-58}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_02</key>
    <dict>
      <key>frame</key>
      <string>{{531,2},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_03</key>
    <dict>
      <key>frame</key>
      <string>{{2,397},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_04</key>
    <dict>
      <key>frame</key>
      <string>{{531,397},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_05</key>
    <dict>
      <key>frame</key>
      <string>{{2,792},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_06</key>
    <dict>
      <key>frame</key>
      <string>{{531,792},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_07</key>
    <dict>
      <key>frame</key>
      <string>{{2,1187},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_08</key>
    <dict>
      <key>frame</key>
      <string>{{531,1187},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_09</key>
    <dict>
      <key>frame</key>
      <string>{{2,1582},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_10</key>
    <dict>
      <key>frame</key>
      <string>{{531,1582},{527,393}}</string>
      <key>offset</key>
      <string>{95,-59}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>Madara_Skill05_11</key>
    <dict>
      <key>frame</key>
      <string>{{2,1977},{527,393}}</string>
      <key>offset</key>
      <string>{95,-58}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{527,393}}</string>
      <key>sourceSize</key>
      <string>{527,393}</string>
    </dict>
    <key>RyhuenHouka_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{878,2878},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{2,3104},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{317,3104},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{632,3104},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{947,3104},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_06</key>
    <dict>
      <key>frame</key>
      <string>{{2,3294},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_07</key>
    <dict>
      <key>frame</key>
      <string>{{317,3294},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>RyhuenHouka_Move_08</key>
    <dict>
      <key>frame</key>
      <string>{{632,3294},{313,188}}</string>
      <key>offset</key>
      <string>{80,-30}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{313,188}}</string>
      <key>sourceSize</key>
      <string>{313,188}</string>
    </dict>
    <key>SusanooBullet1_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{878,2630},{290,224}}</string>
      <key>offset</key>
      <string>{0,-2}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,224}}</string>
      <key>sourceSize</key>
      <string>{290,224}</string>
    </dict>
    <key>SusanooBullet1_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{1170,2630},{290,224}}</string>
      <key>offset</key>
      <string>{0,-2}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,224}}</string>
      <key>sourceSize</key>
      <string>{290,224}</string>
    </dict>
    <key>SusanooBullet1_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{2,2878},{290,224}}</string>
      <key>offset</key>
      <string>{0,-2}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,224}}</string>
      <key>sourceSize</key>
      <string>{290,224}</string>
    </dict>
    <key>SusanooBullet1_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{294,2878},{290,224}}</string>
      <key>offset</key>
      <string>{0,-2}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,224}}</string>
      <key>sourceSize</key>
      <string>{290,224}</string>
    </dict>
    <key>SusanooBullet1_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{586,2878},{290,224}}</string>
      <key>offset</key>
      <string>{0,-2}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,224}}</string>
      <key>sourceSize</key>
      <string>{290,224}</string>
    </dict>
    <key>SusanooBullet2_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{807,2372},{290,246}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,246}}</string>
      <key>sourceSize</key>
      <string>{290,246}</string>
    </dict>
    <key>SusanooBullet2_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{1099,2372},{290,246}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,246}}</string>
      <key>sourceSize</key>
      <string>{290,246}</string>
    </dict>
    <key>SusanooBullet2_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{2,2630},{290,246}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,246}}</string>
      <key>sourceSize</key>
      <string>{290,246}</string>
    </dict>
    <key>SusanooBullet2_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{294,2630},{290,246}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,246}}</string>
      <key>sourceSize</key>
      <string>{290,246}</string>
    </dict>
    <key>SusanooBullet2_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{586,2630},{290,246}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{290,246}}</string>
      <key>sourceSize</key>
      <string>{290,246}</string>
    </dict>
    <key>Wind_Move_01</key>
    <dict>
      <key>frame</key>
      <string>{{680,3643},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_02</key>
    <dict>
      <key>frame</key>
      <string>{{844,3643},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_03</key>
    <dict>
      <key>frame</key>
      <string>{{1008,3643},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_04</key>
    <dict>
      <key>frame</key>
      <string>{{1172,3643},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_05</key>
    <dict>
      <key>frame</key>
      <string>{{2,3802},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_06</key>
    <dict>
      <key>frame</key>
      <string>{{166,3802},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
    <key>Wind_Move_07</key>
    <dict>
      <key>frame</key>
      <string>{{330,3802},{162,129}}</string>
      <key>offset</key>
      <string>{0,0}</string>
      <key>rotated</key>
      <false/>
      <key>sourceColorRect</key>
      <string>{{0,0},{162,129}}</string>
      <key>sourceSize</key>
      <string>{162,129}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key>
    <integer>2</integer>
    <key>pixelFormat</key>
    <string>RGBA8888</string>
    <key>premultiplyAlpha</key>
    <false/>
    <key>realTextureFileName</key>
    <string>Madara_Skill.png</string>
    <key>size</key>
    <string>{2048,4096}</string>
    <key>smartupdate</key>
    <string>$TexturePacker:SmartUpdate:-464358b000000800000010000000003b$</string>
    <key>textureFileName</key>
    <string>Madara_Skill.png</string>
  </dict>
</dict>
</plist>