<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BySilxntHikaru</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>NarutoSR_Skill04_12</key>
            <dict>
                <key>frame</key>
                <string>{{1,322},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_13</key>
            <dict>
                <key>frame</key>
                <string>{{210,322},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_14</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_15</key>
            <dict>
                <key>frame</key>
                <string>{{419,194},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_16</key>
            <dict>
                <key>frame</key>
                <string>{{419,387},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_17</key>
            <dict>
                <key>frame</key>
                <string>{{531,1},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_18</key>
            <dict>
                <key>frame</key>
                <string>{{628,194},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_19</key>
            <dict>
                <key>frame</key>
                <string>{{628,387},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_05</key>
            <dict>
                <key>frame</key>
                <string>{{628,387},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_20</key>
            <dict>
                <key>frame</key>
                <string>{{740,1},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_21</key>
            <dict>
                <key>frame</key>
                <string>{{837,194},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_22</key>
            <dict>
                <key>frame</key>
                <string>{{837,387},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_23</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_04</key>
            <dict>
                <key>frame</key>
                <string>{{1046,194},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_06</key>
            <dict>
                <key>frame</key>
                <string>{{1046,387},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_07</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_08</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_09</key>
            <dict>
                <key>frame</key>
                <string>{{210,515},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_10</key>
            <dict>
                <key>frame</key>
                <string>{{419,580},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill04_11</key>
            <dict>
                <key>frame</key>
                <string>{{628,580},{208,192}}</string>
                <key>offset</key>
                <string>{-4.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,192}}</string>
                <key>sourceSize</key>
                <string>{208,192}</string>
            </dict>
            <key>NarutoSR_Skill03_04</key>
            <dict>
                <key>frame</key>
                <string>{{837,580},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_05</key>
            <dict>
                <key>frame</key>
                <string>{{1030,580},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_06</key>
            <dict>
                <key>frame</key>
                <string>{{1,708},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_07</key>
            <dict>
                <key>frame</key>
                <string>{{194,708},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_09</key>
            <dict>
                <key>frame</key>
                <string>{{387,773},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_08</key>
            <dict>
                <key>frame</key>
                <string>{{580,773},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_10</key>
            <dict>
                <key>frame</key>
                <string>{{773,773},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_11</key>
            <dict>
                <key>frame</key>
                <string>{{966,773},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_12</key>
            <dict>
                <key>frame</key>
                <string>{{1159,773},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_13</key>
            <dict>
                <key>frame</key>
                <string>{{1,901},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_14</key>
            <dict>
                <key>frame</key>
                <string>{{194,901},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_15</key>
            <dict>
                <key>frame</key>
                <string>{{387,966},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_16</key>
            <dict>
                <key>frame</key>
                <string>{{580,966},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_18</key>
            <dict>
                <key>frame</key>
                <string>{{773,966},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill03_17</key>
            <dict>
                <key>frame</key>
                <string>{{966,966},{192,192}}</string>
                <key>offset</key>
                <string>{-3.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>NarutoSR_Skill12_003</key>
            <dict>
                <key>frame</key>
                <string>{{1,1094},{128,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>NarutoSR_Skill12_004</key>
            <dict>
                <key>frame</key>
                <string>{{1159,966},{128,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>NarutoSR_Skill01_07</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1030},{126,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{126,76}</string>
            </dict>
            <key>NarutoSR_Skill01_08</key>
            <dict>
                <key>frame</key>
                <string>{{1223,580},{126,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{126,76}</string>
            </dict>
            <key>NarutoSR_Skill01_09</key>
            <dict>
                <key>frame</key>
                <string>{{1223,657},{126,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{126,76}</string>
            </dict>
            <key>NarutoSR_Skill05_01</key>
            <dict>
                <key>frame</key>
                <string>{{1255,194},{117,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>NarutoSR_Skill05_02</key>
            <dict>
                <key>frame</key>
                <string>{{1255,287},{117,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>NarutoSR_Skill05_03</key>
            <dict>
                <key>frame</key>
                <string>{{1255,380},{117,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>NarutoSR_Skill11_001</key>
            <dict>
                <key>frame</key>
                <string>{{322,194},{93,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,61}}</string>
                <key>sourceSize</key>
                <string>{93,61}</string>
            </dict>
            <key>NarutoSR_Skill11_002</key>
            <dict>
                <key>frame</key>
                <string>{{1255,473},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>NarutoSR_Skill12_005</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1030},{88,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>NarutoSR_NAttack_06</key>
            <dict>
                <key>frame</key>
                <string>{{130,1094},{87,64}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>NarutoSR_Skill10_001</key>
            <dict>
                <key>frame</key>
                <string>{{218,1094},{84,69}}</string>
                <key>offset</key>
                <string>{8.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>NarutoSR_Skill10_002</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1104},{84,69}}</string>
                <key>offset</key>
                <string>{8.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>NarutoSR_Skill10_003</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1107},{84,69}}</string>
                <key>offset</key>
                <string>{8.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>NarutoSR_NAttack_07</key>
            <dict>
                <key>frame</key>
                <string>{{322,256},{84,64}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>NarutoSR_NAttack_02</key>
            <dict>
                <key>frame</key>
                <string>{{1288,966},{84,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>NarutoSR_Skill13_001</key>
            <dict>
                <key>frame</key>
                <string>{{303,1094},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>NarutoSR_Skill13_002</key>
            <dict>
                <key>frame</key>
                <string>{{1,1158},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>NarutoSR_Skill11_003</key>
            <dict>
                <key>frame</key>
                <string>{{83,1159},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,81}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>NarutoSR_Skill12_001</key>
            <dict>
                <key>frame</key>
                <string>{{149,1177},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>NarutoSR_Skill12_002</key>
            <dict>
                <key>frame</key>
                <string>{{228,1177},{77,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>NarutoSR_NAttack_03</key>
            <dict>
                <key>frame</key>
                <string>{{306,1172},{76,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,62}</string>
            </dict>
            <key>NarutoSR_KnockDown_03</key>
            <dict>
                <key>frame</key>
                <string>{{1223,734},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>NarutoSR_Skill01_02</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1174},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>NarutoSR_Skill01_03</key>
            <dict>
                <key>frame</key>
                <string>{{385,1159},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>NarutoSR_Skill11_004</key>
            <dict>
                <key>frame</key>
                <string>{{460,1159},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>NarutoSR_Skill01_06</key>
            <dict>
                <key>frame</key>
                <string>{{532,1159},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>NarutoSR_Walk_01</key>
            <dict>
                <key>frame</key>
                <string>{{606,1159},{73,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>NarutoSR_Walk_04</key>
            <dict>
                <key>frame</key>
                <string>{{680,1159},{73,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>NarutoSR_Skill12_007</key>
            <dict>
                <key>frame</key>
                <string>{{754,1159},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>NarutoSR_Skill12_006</key>
            <dict>
                <key>frame</key>
                <string>{{806,1159},{47,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>NarutoSR_Walk_02</key>
            <dict>
                <key>frame</key>
                <string>{{854,1159},{72,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>NarutoSR_Walk_05</key>
            <dict>
                <key>frame</key>
                <string>{{927,1159},{72,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>NarutoSR_NAttack_10</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1159},{65,70}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>NarutoSR_NAttack_11</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1159},{61,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>NarutoSR_NAttack_08</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1174},{52,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>NarutoSR_NAttack_09</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1177},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>NarutoSR_KnockDown_02</key>
            <dict>
                <key>frame</key>
                <string>{{854,1213},{68,69}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>NarutoSR_KnockDown_01</key>
            <dict>
                <key>frame</key>
                <string>{{923,1213},{58,69}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>NarutoSR_Hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1177},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>NarutoSR_Hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{606,1213},{48,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>NarutoSR_NAttack_04</key>
            <dict>
                <key>frame</key>
                <string>{{655,1213},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,68}</string>
            </dict>
            <key>NarutoSR_AirHurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{703,1213},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>NarutoSR_Idle_001</key>
            <dict>
                <key>frame</key>
                <string>{{532,1221},{63,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>NarutoSR_Idle_002</key>
            <dict>
                <key>frame</key>
                <string>{{383,1226},{63,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>NarutoSR_Idle_003</key>
            <dict>
                <key>frame</key>
                <string>{{982,1230},{63,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>NarutoSR_Idle_004</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1230},{63,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>NarutoSR_Skill02_04</key>
            <dict>
                <key>frame</key>
                <string>{{447,1233},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>NarutoSR_Skill02_02</key>
            <dict>
                <key>frame</key>
                <string>{{739,1233},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>NarutoSR_Skill02_03</key>
            <dict>
                <key>frame</key>
                <string>{{793,1233},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>NarutoSR_Float_02</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1241},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>NarutoSR_Skill01_05</key>
            <dict>
                <key>frame</key>
                <string>{{1,1236},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>NarutoSR_NAttack_05</key>
            <dict>
                <key>frame</key>
                <string>{{306,1235},{59,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>NarutoSR_NAttack_01</key>
            <dict>
                <key>frame</key>
                <string>{{66,1241},{54,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>NarutoSR_KnockDown_05</key>
            <dict>
                <key>frame</key>
                <string>{{121,1241},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>NarutoSR_Walk_03</key>
            <dict>
                <key>frame</key>
                <string>{{184,1241},{59,53}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>NarutoSR_Float_03</key>
            <dict>
                <key>frame</key>
                <string>{{244,1241},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>NarutoSR_KnockDown_06</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1245},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>NarutoSR_Walk_06</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1247},{53,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>NarutoSR_AirHurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1248},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>NarutoSR_Float_01</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1248},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>NarutoSR_KnockDown_04</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1107},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NarutoSR.png</string>
            <key>size</key>
            <string>{1375,1304}</string>
            <key>textureFileName</key>
            <string>NarutoSR.png</string>
        </dict>
    </dict>
</plist>
