<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NarutoSR_Skill14_01</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_02</key>
            <dict>
                <key>frame</key>
                <string>{{292,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_03</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_04</key>
            <dict>
                <key>frame</key>
                <string>{{874,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_05</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_06</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_07</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_08</key>
            <dict>
                <key>frame</key>
                <string>{{2038,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_09</key>
            <dict>
                <key>frame</key>
                <string>{{2329,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_10</key>
            <dict>
                <key>frame</key>
                <string>{{2620,1},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_11</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_12</key>
            <dict>
                <key>frame</key>
                <string>{{292,190},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_13</key>
            <dict>
                <key>frame</key>
                <string>{{583,190},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill14_14</key>
            <dict>
                <key>frame</key>
                <string>{{874,190},{290,188}}</string>
                <key>offset</key>
                <string>{11.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,188}}</string>
                <key>sourceSize</key>
                <string>{290,188}</string>
            </dict>
            <key>NarutoSR_Skill13_18</key>
            <dict>
                <key>frame</key>
                <string>{{1165,190},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_01</key>
            <dict>
                <key>frame</key>
                <string>{{1422,190},{256,192}}</string>
                <key>offset</key>
                <string>{16.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_02</key>
            <dict>
                <key>frame</key>
                <string>{{1679,190},{256,192}}</string>
                <key>offset</key>
                <string>{14.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_03</key>
            <dict>
                <key>frame</key>
                <string>{{1936,190},{256,192}}</string>
                <key>offset</key>
                <string>{60,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_04</key>
            <dict>
                <key>frame</key>
                <string>{{2193,190},{256,192}}</string>
                <key>offset</key>
                <string>{60,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_05</key>
            <dict>
                <key>frame</key>
                <string>{{2450,190},{256,192}}</string>
                <key>offset</key>
                <string>{60,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_06</key>
            <dict>
                <key>frame</key>
                <string>{{2707,190},{256,192}}</string>
                <key>offset</key>
                <string>{60,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_07</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{256,192}}</string>
                <key>offset</key>
                <string>{44,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_08</key>
            <dict>
                <key>frame</key>
                <string>{{258,379},{256,192}}</string>
                <key>offset</key>
                <string>{34,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_09</key>
            <dict>
                <key>frame</key>
                <string>{{515,379},{256,192}}</string>
                <key>offset</key>
                <string>{19.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_10</key>
            <dict>
                <key>frame</key>
                <string>{{772,379},{256,192}}</string>
                <key>offset</key>
                <string>{19.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_12</key>
            <dict>
                <key>frame</key>
                <string>{{1029,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_16</key>
            <dict>
                <key>frame</key>
                <string>{{1029,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_11</key>
            <dict>
                <key>frame</key>
                <string>{{1286,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_15</key>
            <dict>
                <key>frame</key>
                <string>{{1286,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_13</key>
            <dict>
                <key>frame</key>
                <string>{{1543,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_14</key>
            <dict>
                <key>frame</key>
                <string>{{1800,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>NarutoSR_Skill13_17</key>
            <dict>
                <key>frame</key>
                <string>{{2057,383},{256,192}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>SpinningClone27</key>
            <dict>
                <key>frame</key>
                <string>{{2314,383},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone28</key>
            <dict>
                <key>frame</key>
                <string>{{2551,383},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone29</key>
            <dict>
                <key>frame</key>
                <string>{{2788,383},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone1</key>
            <dict>
                <key>frame</key>
                <string>{{2314,522},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone2</key>
            <dict>
                <key>frame</key>
                <string>{{2551,522},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone3</key>
            <dict>
                <key>frame</key>
                <string>{{2788,522},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone4</key>
            <dict>
                <key>frame</key>
                <string>{{1,572},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone5</key>
            <dict>
                <key>frame</key>
                <string>{{238,572},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone6</key>
            <dict>
                <key>frame</key>
                <string>{{475,572},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone7</key>
            <dict>
                <key>frame</key>
                <string>{{712,572},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone8</key>
            <dict>
                <key>frame</key>
                <string>{{949,576},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone9</key>
            <dict>
                <key>frame</key>
                <string>{{1186,576},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone10</key>
            <dict>
                <key>frame</key>
                <string>{{1423,576},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone11</key>
            <dict>
                <key>frame</key>
                <string>{{1660,576},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone12</key>
            <dict>
                <key>frame</key>
                <string>{{1897,576},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone13</key>
            <dict>
                <key>frame</key>
                <string>{{2134,661},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone14</key>
            <dict>
                <key>frame</key>
                <string>{{2371,661},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone15</key>
            <dict>
                <key>frame</key>
                <string>{{2608,661},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone16</key>
            <dict>
                <key>frame</key>
                <string>{{1,711},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone17</key>
            <dict>
                <key>frame</key>
                <string>{{238,711},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone18</key>
            <dict>
                <key>frame</key>
                <string>{{475,711},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone19</key>
            <dict>
                <key>frame</key>
                <string>{{712,711},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone20</key>
            <dict>
                <key>frame</key>
                <string>{{949,715},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone21</key>
            <dict>
                <key>frame</key>
                <string>{{1186,715},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone23</key>
            <dict>
                <key>frame</key>
                <string>{{1423,715},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone22</key>
            <dict>
                <key>frame</key>
                <string>{{1660,715},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone24</key>
            <dict>
                <key>frame</key>
                <string>{{1897,715},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone25</key>
            <dict>
                <key>frame</key>
                <string>{{2134,800},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>SpinningClone26</key>
            <dict>
                <key>frame</key>
                <string>{{2371,800},{236,138}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>NarutoSR_Skill15_08</key>
            <dict>
                <key>frame</key>
                <string>{{2845,661},{160,137}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,137}}</string>
                <key>sourceSize</key>
                <string>{160,137}</string>
            </dict>
            <key>NarutoSR_Skill15_07</key>
            <dict>
                <key>frame</key>
                <string>{{2845,799},{160,136}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,136}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>NarutoSR_Skill15_10</key>
            <dict>
                <key>frame</key>
                <string>{{2608,800},{160,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>NarutoSR_Skill15_11</key>
            <dict>
                <key>frame</key>
                <string>{{2911,1},{160,135}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>NarutoSR_Skill15_09</key>
            <dict>
                <key>frame</key>
                <string>{{1,850},{160,132}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>NarutoSR_Skill15_12</key>
            <dict>
                <key>frame</key>
                <string>{{162,850},{160,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,130}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>NarutoSR_Skill15_06</key>
            <dict>
                <key>frame</key>
                <string>{{323,850},{160,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,130}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>NarutoSR_Skill15_13</key>
            <dict>
                <key>frame</key>
                <string>{{484,850},{160,125}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>NarutoSR_Skill15_14</key>
            <dict>
                <key>frame</key>
                <string>{{645,850},{160,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_15</key>
            <dict>
                <key>frame</key>
                <string>{{806,854},{160,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_01</key>
            <dict>
                <key>frame</key>
                <string>{{967,854},{160,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_02</key>
            <dict>
                <key>frame</key>
                <string>{{1128,854},{160,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_03</key>
            <dict>
                <key>frame</key>
                <string>{{1289,854},{160,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_04</key>
            <dict>
                <key>frame</key>
                <string>{{1450,854},{160,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>NarutoSR_Skill15_05</key>
            <dict>
                <key>frame</key>
                <string>{{2769,800},{70,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NarutoSR_Skill.png</string>
            <key>size</key>
            <string>{3072,983}</string>
            <key>textureFileName</key>
            <string>NarutoSR_Skill.png</string>
        </dict>
    </dict>
</plist>
